:root {
    --black:#000000;
    --grey:#2b2a2c;
    --light-grey:#8f8f90;
    --white:#ffffff;
    --beige:#dedede;
    --cat: url('images/cat.svg');
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    color: #000000;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    margin: 0 0 1rem;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

.container {
    width: 100%;
    max-width: 1200px;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 0 auto;
}

.header {
    padding: 1.2rem 0;
    position: relative;
}

.header_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user {
    display: flex;
}

.user_avatar {
    border-radius: 50%;
    max-block-size: 65px;
}

.user_name {
    font-size: 1rem;
    color: var(--black);
    font-weight: bold;
    margin-bottom: 3px;
}
.user_prof {
    font-size: 12px;
    color: var(--black);
    opacity: 0.7;
}

.nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 100px;
}

.nav_link {
    position: relative;
    margin-left: 2rem;
    font-size: 0.9rem;
    color: var(--black);
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
}

.nav_link:hover {
    border-bottom: 2px solid #f89d14;
    padding: 0 0 7px;
    transition: all ease 300ms;
}
.container_for_box {
    width: 100%;
    max-width: 1200px;
    padding-left: 7rem;
    padding-right: 7rem;
    margin: 0 auto;
}

.text_center {
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--black);
    opacity: 0.7;
    margin-bottom: 3rem;
}

.portfolio {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.box {
    overflow: hidden;
    max-width: 450px;
    display: inline-block;
    box-shadow: 0 0 1.2rem rgba(219, 126, 34, 0.734);
    border-radius: 10px;
    transition: transform 250ms;
}

.image1 {
    height:300px;
}

.box:hover {
    box-shadow: 0 0 1.3rem rgb(153, 234, 4);
    transition: all ease 250ms;
    transform: translateY(-10px);
}

.box_heading {
    padding: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    opacity: 0.7;
}

.box_list {
    padding: 1rem;
    word-wrap: break-word;
}

.list_style {
    list-style: url('../images/dot.svg');
}

li {
    line-height: 1.5;
    margin-bottom: 1.5rem;
}